<h1>Books</h1>
<%= form_with(model:@book, method: :post, url: author_books_path(@author), local:true) do |form| %>
  <div>
    <%= form.label :Book_name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Content %><br>
    <%= form.text_field :content%>
  </div>
  <div>
    <%= form.label :Genre%><br>
    <%= form.text_field :genre%>
  </div>
  <div>
    <%= form.label :Year_Published%><br>
    <%= form.text_field :published%>
  </div>
  
  </br>
  <div>
    <%= form.submit%>
  </div>
<% end %>


